@import "lib/colors.scss";
@import "lib/mixins.scss";


html {
	@include circuits($blue, darken($black, 5%), 0.4);
	color:$white;
	font-size:18px;
}

a {
	@include hover($blue, $cyan);
	text-decoration:none;
}

button {
	@include hover($yellow, $red);
	border:none;
	font-size:1em;
}

* {
	margin:0;
	padding:0;
	font-family:"mononoki";
}

input {
	background:darken($black, 3%);
	font-size:1em;
	color:$blue;
	border:none;
	width:100%;
	box-sizing:border-box;
	padding:0.3em 0.5em;
}


h2, h3, h4, h5, h6 {
	color:$blue;
}

p {
	line-height:1.4em;
}

header {
	background:$black;
	@include shadow;
	font-size:1.1em;
	h1 {
		a {
			@include hover($green, $yellow);
			padding:0.8em 2.5%;
			display:block;
		}
	}
}

nav {
	@include color($black, darken($grey, 15%));
	@include shadow;
	position:sticky;
	top:0;
	font-size:1.2em;
	ul {
		@include flex(space-between);
		list-style:none;
		li {
			width:100%;
			a {
				@include hover($black, $black, none, $grey);
				display:block;
				text-align:center;
				padding:2px 0;
			}
		}
	}
}

#window {
	width:100vw;
	height:100vh;
	overflow:scroll;
	overflow-x:hidden;
}

.wrapper {
	width:90%;
	margin:0 auto;
}

.blue {
	color:$blue;
}

.white {
	color:$white;
}

main {
	margin:20px 0 40px;
}

article {
	.box {
		margin:20px 0;
	}
}

.box {
	@include color($white, $black);
	@include shadow;
	width:100%;
	h2 {
		padding:10px 2.5% 5px;
		background:darken($black, 2%);
	}
	.content {
		padding:10px 2.5%;
		* {
			margin:15px 0;
			&:first-child{
				margin:0;
			}
		}
	}
}

footer {
	width:100%;
	position:fixed;
	bottom:0;
	left:0;
	@include color($yellow, darken($black, 5%));
	padding:0 5%;
	font-size:1.2em;
}

.fullscreen {
	width:100vw;
	height:100vh;
	background:rgb(darken($black, 5%), 0.4);
	position:fixed;
	top:0;
	left:0;
	@include flex;
}


.popup {
	width:80%;
	margin:0 auto;
	h2 {
		color:$red;
	}
	.content {
		width:90%;
		margin:0 auto;
		* {
			margin:10px 0;
		}
	}
}
