@import "lib/colors.scss";
@import "lib/mixins.scss";
@import "lib/global.scss";
@import "lib/header.scss";

@mixin button($fg, $hfg){
	color:$fg;
	border-left:solid 0.15em $fg;
	padding:0 0.5em;
	font-weight:bold;
	&:hover {
		color:$hfg;
		border-color:$hfg;
	}
}

#window {
	width:100vw;
	height:100vh;
	overflow:scroll;
	overflow-x:hidden;
}

button {
	@include button($blue, $lblue);
}

html {
	@include circuits($blue, darken($black, 5%), 0.4);
	color:$white;
	font-size:18px;
}

main {
	margin:10px 0 40px;
}

article {
	.box {
		margin:20px 0;
	}
}

footer {
	@include color($blue, darken($black, 5%));
	font-size:1.1em;
	width:100%;
	position:fixed;
	bottom:0;
	left:0;
	* {
		margin-right:10px;
	}
	button {
		padding:0 0.5em;
	}
	.footer-cancel {
		@include button(darken($red, 10%), $red);
	}
	form {
		display:inline;
	}
	input {
		background:none;
		padding:0;
		width:100px;
	}
}

.box {
	@include color($white, $black);
	@include shadow;
	border-radius:10px;
	width:100%;
	h2 {
		padding:10px 2.5% 5px;
		background:darken($black, 2%);
		border-radius:10px 10px 0 0;
	}
	.content {
		padding:10px 2.5%;
		* {
			margin:10px 0;
		}
	}
}

.fullscreen {
	width:100vw;
	height:100vh;
	background:rgb(darken($black, 5%), 0.4);
	position:fixed;
	top:0;
	left:0;
	@include flex;
}

.popup {
	width:80%;
	margin:0 auto;
	h2 {
		color:$yellow;
	}
	.content {
		width:90%;
		margin:0 auto;
		* {
			margin:5px 0;
		}
	}
	.popup-buttons {
		@include flex(space-around);
		background:darken($black, 4%);
		border-radius:5px;
		button {
			margin:0;
			width:100%;
			border:none;
			padding:0.2em 0.5em;
			&:first-child {
				border-radius:5px 0 0 5px;
			}
			&:last-child {
				border-radius:0 5px 5px 0;
			}
		}
		.popup-submit{
			@include hover($grey, $black, none, $dgreen);
		}
		.popup-cancel {
			@include hover($grey, $black, none, darken($red, 15%));
		}
	}
}
